<section id="wrapper" class="login-register login-sidebar" style="background-image:url(./assets/images/background/login-register.jpg);">
    <div class="login-box card">
        <div class="card-body">
        
                <a  class="text-center db">
                        <img  style="width: 30%" src="./assets/images/logo-icon.png" alt="Home" />
                        <br/>
                        <img style="width: 41%;margin-left: 34px;" src="./assets/images/logo-text.png" alt="Home" />
                </a>
                <div class="form-group m-t-40">
                    <div class="col-xs-12">
                        <input class="form-control" type="text" required="" placeholder="Email" [(ngModel)]="email">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <input class="form-control" type="password" required="" placeholder="Password" [(ngModel)]="password">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-12 text-center">
                        <a  id="to-recover" class="text-dark pull-right" data-toggle="modal" data-target="#add-contact" style="margin-right: 37px;">
                            <i class="fa fa-lock m-r-5"></i>¿Olvidaste tu nombre de usuario?
                       </a> 
                    </div>
                </div>
                <div class="form-group text-center m-t-20">
                    <div class="col-xs-12">
                        <button class="btn btn-info btn-lg btn-block text-uppercase btn-rounded" type="button" (click)="onLogin()">Log In</button>
                    </div>
                </div>
                <div class="row">
                   
                </div>
                <div class="form-group m-b-0">
                    <div class="col-sm-12 text-center">
                        ¿No tienes una cuenta? <a  [routerLink]="['/registro']" routerLinkActive="router-link-active"  class="text-primary m-l-5"><b>Sign Up</b></a>
                    </div>
                </div>
            
            <!-- <form class="form-horizontal" id="recoverform" action="index.html">
                <div class="form-group ">
                    <div class="col-xs-12">
                        <h3>Recover Password</h3>
                        <p class="text-muted">Enter your Email and instructions will be sent to you! </p>
                    </div>
                </div>
                <div class="form-group ">
                    <div class="col-xs-12">
                        <input class="form-control" type="text" required="" placeholder="Email">
                    </div>
                </div>
                <div class="form-group text-center m-t-20">
                    <div class="col-xs-12">
                        <button class="btn btn-primary btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Reset</button>
                    </div>
                </div>
            </form> -->
        </div>
    </div>
</section>


<div id="add-contact" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="text-align: center;">
                <h4 class="modal-title" id="myModalLabel">¿Te olvidaste tu password, tranquilo, te enviaremos un email para que lo recuperes?</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <form [formGroup]="formRecordarUsuario"  (ngSubmit)="onRecuperarUsuarioSubmit()"  novalidate> 
                <div class="modal-body">
                    <div class="form-group ">
                        <div class="col-xs-12">
                            <input class="form-control" type="email" required="" placeholder="Email" formControlName="email">
                        </div>
                    </div>
        
                </div>
                <div class="modal-footer">
                    <button class="btn btn-info waves-effect" type="submit">Enviar</button>
                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Cancel</button>
                </div>
            </form>
  
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>