<!-- Row -->
<div class="row">
<!-- Column -->
    <div class="col-lg-4 col-xlg-3 col-md-5">
        <div class="card">
            <div class="card-body" style="text-align: center;">
                <div class="m-t-30"> <img src="../assets/images/6073873.png" class="img-circle" width="150" />
                    <h4 class="card-title m-t-10">{{usuario.nombre}}</h4>
                    <h6 class="card-subtitle">Accoubts Manager Amix corp</h6>
                </div>
            </div>
            <div>
                <hr> </div>
            <div class="card-body"> <small class="text-muted">Email </small>
                <h6>{{usuario.email}}</h6> <small class="text-muted p-t-30 db">Teléfono</small>
                <h6>{{usuario.telcel}}</h6> <small class="text-muted p-t-30 db">Referencia</small>
                <h6>{{usuario.telref}}</h6>
                <br/>
                <button class="btn btn-circle btn-secondary">
                
                </button>
            </div>
        </div>
    </div>

</div>