<div class="row">
    <!-- Column -->
    <div class="col-lg-4 col-xlg-3 col-md-5">
        <div class="card">
            <div class="card-body">
                 <img src="../assets/images/6073873.png" class="img-circle" width="150" />
                    <h4 class="card-title m-t-10">{{usuario.nombre}}</h4><br>
                    <h6 class="card-subtitle"><b>FreeTags</b>  desde {{usuario.fecha_alta}}</h6>
                    <div class="row text-center justify-content-md-center">
                      
                    </div>
                
            </div>
            <div>
                <hr> </div>
            <div class="card-body"> <small class="text-muted">Email </small>
                <h6>{{usuario.email}}</h6> <small class="text-muted p-t-30 db">Celular</small>
                <h6>{{usuario.telcel}}</h6> <small class="text-muted p-t-30 db">Teléfono</small>
                <h6>{{usuario.telref}}</h6>
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-lg-8 col-xlg-9 col-md-7">
        <div class="card">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs profile-tab" role="tablist">
                <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#profile" role="tab">Perfil</a> </li>
                <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#settings" role="tab">Perfil edit</a> </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <!--second tab-->
                <div class="tab-pane active"  id="profile" role="tabpanel">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3 col-xs-6 b-r"> <strong>Nombres</strong>
                                <br>
                                <p class="text-muted">{{usuario.nombre}}</p>
                            </div>
                            <div class="col-md-3 col-xs-6 b-r"> <strong>Telefono</strong>
                                <br>
                                <p class="text-muted">{{usuario.telcel}}</p>
                            </div>
                            <div class="col-md-3 col-xs-6 b-r"> <strong>Email</strong>
                                <br>
                                <p class="text-muted">{{usuario.email}}</p>
                            </div>
                            <div class="col-md-3 col-xs-6"> <strong>Teléfono Referencia</strong>
                                <br>
                                <p class="text-muted">{{usuario.telref}}</p>
                            </div>
                        </div>
                        <hr>
                   </div>
                </div>
                <div class="tab-pane" id="settings" role="tabpanel">
                    <div class="card-body">
                        <form class="form-horizontal form-material" [formGroup]="formUpdate" (ngSubmit)="onSubmitFor();" >
                            <div class="form-group">
                                <label class="col-md-12">Nombres</label>
                                <div class="col-md-12">
                                    <input type="text" placeholder="{{usuario.nombre}}" class="form-control form-control-line">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="example-email" class="col-md-12">Email</label>
                                <div class="col-md-12">
                                    <input type="email" placeholder="{{usuario.email}}"  readonly class="form-control form-control-line" name="example-email" id="example-email">
                                </div>
                            </div>
                            <!-- <div class="form-group">
                                <label class="col-md-12">Password</label>
                                <div class="col-md-12">
                                    <input type="password" value="password" class="form-control form-control-line">
                                </div>
                            </div> -->
                            <div class="form-group">
                                <label class="col-md-12">Teléfono</label>
                                <div class="col-md-12">
                                    <input type="text" placeholder="{{usuario.telref}}" class="form-control form-control-line">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12">Celular</label>
                                <div class="col-md-12">
                                    <input type="text" placeholder="{{usuario.telcel}}" class="form-control form-control-line">
                                </div>
                            </div>
                        
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Guardar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
</div>